body {
    background-color: antiquewhite;
}

#amor img {
    width: 200px;
    height: 250px;
}
#formato { 
    font-family: Arial;
    font-size: large;
}
#formato2 { 
    font-family: Arial;
    font-size: large;
}
#formato3 { 
    font-family: Arial;
    font-size: large;
}
